.sideBox {
  flex-basis: 75%;
  padding: 3rem 0 2rem 0;
  height: 100vh;
  overflow: scroll;
  position: relative;
}
.sideBox::-webkit-scrollbar {
  display: none;
}
.heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 5rem;
}
.greeting {
  flex-basis: 70%;
  color: white;
  font-size: 2.6rem;
  padding-top: 2rem;
}
.greeting h1 {
  letter-spacing: 0.1rem;
}
.clocksy {
  flex-basis: 25%;
  padding-left: 10%;
}
.clock {
  border: 0.2rem solid var(--main-theme);
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  background: url(../images/Clock.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1.5rem 2.5rem rgba(15, 23, 53, 0.25),
    0px -1.5rem 2.5rem rgba(69, 102, 222, 0.75),
    inset 0px -0.8rem 1.5rem rgba(69, 102, 222, 0.75),
    inset 0px 1rem 1.5rem rgba(15, 23, 53, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock::before {
  content: '';
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: white;
  z-index: 50;
}
.clock .hour,
.clock .mins,
.clock .secs {
  position: absolute;
}
.clock .hour,
.hr {
  width: 6rem;
  height: 6rem;
  z-index: 10;
}
.clock .mins,
.mn {
  width: 7.2rem;
  height: 7.2rem;
  z-index: 11;
}
.clock .secs,
.sc {
  width: 8.5rem;
  height: 8.5rem;
  z-index: 12;
}
.hr,
.sc,
.mn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.hr::before {
  content: '';
  position: absolute;
  width: 0.4rem;
  height: 50%;
  background: #ff105e;
  border-radius: 0.3rem 0.3rem 0 0;
}
.mn::before {
  content: '';
  position: absolute;
  width: 0.3rem;
  height: 50%;
  background: white;
  border-radius: 0.2rem 0.2rem 0 0;
}
.sc::before {
  content: '';
  position: absolute;
  width: 0.25rem;
  height: 65%;
  background: #1e8cf1;
  border-radius: 0.2rem 0.2rem 0 0;
  box-shadow: 0px -8px 5px rgba(0, 0, 0, 0.3);
}
.categories {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.wrapper {
  width: 100%;
  display: flex;
  padding-bottom: 5%;
  overflow-x: scroll;
}
.wrapper[data-value='list'] {
  flex-wrap: wrap;
}

.wrapper::-webkit-scrollbar {
  display: none;
}
.categories h4 {
  position: absolute;
  top: -25%;
  left: 5%;
  color: var(--main-heading);
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.categories[data-value='list'] h4 {
  top: -12%;
  left: 4.5%;
}
.types {
  min-width: 24rem;
  height: 14rem;
  background: var(--nav-bg);
  border-radius: 2rem;
  box-shadow: 0 1.5rem 3rem -0.4rem rgba(15, 18, 94, 0.8);
  cursor: pointer;
  margin: 0 4rem 0 0;
  padding: 2rem 1rem 2rem 2.5rem;
}
.types:first-child {
  margin-left: 5em;
}
.wrapper[data-value='list'] .types {
  margin: 0 0 4rem 4rem;
}
.count {
  font-size: 1.4rem;
  color: var(--main-heading);
}
.taskName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taskName h2 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
}
.progress {
  padding-right: 1.5rem;
}
.outOf {
  height: 0.4rem;
  width: 100%;
  background: var(--progress-bar);
  border-radius: 0.2rem;
}
.inOf {
  height: 100%;
  width: 50%;
  border-radius: 0.2rem;
  position: relative;
}
.inOf::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(8px);
}
.inOf[data-value='Buisness'],
.inOf[data-value='Buisness']::before {
  background: #eb1aef;
}
.inOf[data-value='Music'],
.inOf[data-value='Music']::before {
  background: #f57b23;
}
.inOf[data-value='Personal'],
.inOf[data-value='Personal']::before {
  background: #1e8cf1;
}
.inOf[data-value='Study'],
.inOf[data-value='Study']::before {
  background: #23f591;
}
.tasks {
  position: relative;
  padding-left: 5rem;
}
.add {
  position: fixed;
  bottom: 4%;
  right: 2%;
  cursor: pointer;
}
.add .icon {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: #fe23e8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;
  position: relative;
}
.add .icon::before {
  content: '';
  position: absolute;
  background: #fe23e8;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  filter: blur(50px);
}
.tasks h4 {
  font-size: 1.8rem;
  color: var(--main-heading);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-left: 1%;
  margin-bottom: 1%;
}
.assignes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
}
.assignes .box {
  width: 47%;
  height: 7.5rem;
  background: var(--nav-bg);
  margin: 1.5rem 0;
  border-radius: 1.5rem;
}
.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  cursor: pointer;
}
.box .checkbox,
.checked {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 5%;
  border-radius: 50%;
  cursor: pointer;
}
.checked {
  background: url(../images/check.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: checked 0.1s ease-in-out;
}
.strike {
  text-decoration: line-through;
}
.box:nth-child(2n) .checkbox {
  border: 0.3rem solid #c11bcf;
}
.box:nth-child(2n-1) .checkbox {
  border: 0.3rem solid #1e8cf1;
}
.box .content {
  font-size: 2rem;
  color: white;
}
.addTask,
.addActive {
  position: fixed;
  right: 0;
  height: 80%;
  width: 75%;
  background: var(--popbox-color);
  z-index: 100;
  border-radius: 2rem 2rem 0 0;
  backdrop-filter: blur(20px);
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.25);
  padding: 2rem 5rem;
}
.addTask {
  bottom: -100%;
}
.pull {
  position: inherit;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.6rem;
  width: 8rem;
  border-radius: 0.5rem;
  background: var(--main-theme);
  cursor: grab;
}
.pull:active {
  cursor: grabbing;
}
.addTask .formImg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
  width: 33%;
}
.form {
  width: 85%;
}
.popHeading {
  font-size: 2rem;
  color: white;
  letter-spacing: 0.2rem;
  margin: 5rem 0 3rem 0;
}
.inputWrap {
  position: relative;
}
.inputWrap label,
.inputWrap span {
  position: absolute;
  color: var(--popbox-text);
}
.inputWrap label {
  font-size: 2.5rem;
  top: -20%;
  left: 1.5rem;
}
.inputWrap span {
  font-size: 2rem;
  top: 10%;
  right: 1.5rem;
}
.inputWrap input {
  background: none;
  border-style: none;
  padding: 0 0 0.5rem 5rem;
  width: 100%;
  font-size: 1.8rem;
  color: var(--popbox-text);
  border-bottom: 0.2rem solid var(--popbox-text);
}
.inputWrap input::placeholder {
  color: var(--popbox-text);
}
.inputWrap input:focus {
  outline: none;
}
.columner,
.rower {
  margin: 5.5rem 0;
}
.rower {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rower .inputWrap {
  width: 45%;
}
.formBtn button {
  height: 6rem;
  width: 15rem;
  background-color: #2843a7;
  color: white;
  font-size: 2.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
@keyframes checked {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.editTask {
  position: fixed;
  top: 0;
  right: -35%;
  height: 100%;
  width: 30%;
  background: var(--popbox-color);
  z-index: 90;
  border-radius: 1rem 0 0 1rem;
  backdrop-filter: blur(20px);
  padding: 3rem 4rem 0 4rem;
  overflow: hidden;
  box-shadow: -1rem 0 1rem rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
}

.side-pop-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.6rem;
}

.edit-wrapper {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 2rem 0;
}
.edit-wrapper label {
  color: white;
  font-size: 1.8rem;
  margin: 0 0 1.5rem 0.5rem;
}
.edit-wrapper input {
  height: 5rem;
  font-size: 1.6rem;
}
.edit-wrapper textarea {
  min-height: 18rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2.3rem;
  font-weight: lighter;
}
.edit-wrapper input,
.edit-wrapper textarea {
  width: 100%;
  border-radius: 1rem;
  background: var(--popbox-color);
  border: 0.1rem solid var(--popbox-color);
  box-shadow: 0 -1rem 1.5rem rgba(41, 74, 194, 0.35),
    inset 0 -0.8rem 1.5rem rgba(41, 74, 194, 0.35),
    0 1rem 1.5rem rgba(15, 23, 53, 0.5),
    inset 0 1rem 1.5rem rgba(15, 23, 53, 0.5);
  color: var(--popbox-text);
  padding: 2rem;
}
.edit-wrapper input:focus,
.edit-wrapper textarea:focus {
  outline: none;
}
.deleteTask {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(19, 16, 90, 0.8);
  box-shadow: 0 -0.8rem 0.8rem rgba(0, 0, 0, 0.2);
  padding: 0 4rem;
}
.deleteTask button {
  background-color: #d20000;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
}
.deleteTask .dropdown {
  color: var(--popbox-text);
  font-size: 1.6rem;
  font-weight: 600;
}
